.box {
    background: #FFF;
    border: black 1px solid;
    width: 25px;
    height: 25px;
    margin: 0;
   cursor: pointer;
   display: flex;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;    
}