@import url(http://fonts.googleapis.com/css?family=Anton);
.tab-wrap {
	-webkit-transition: 0.3s box-shadow ease;
	transition: 0.3s box-shadow ease;
	border-radius: 6px;
	max-width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	position: relative;
	list-style: none;
	/*background-color: rgb(199, 10, 10);*/
	margin: 40px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
	box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
	display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.tab:checked + label {
	background-color: rgb(196, 196, 196);
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}
.tab:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: rgb(196, 196, 196);
}
.tab + label {
	width:100%;
	box-shadow: 0 -1px 0 #eee inset;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	  -ms-flex-positive: 3;
		  flex-grow: 3;
	text-align: center;
	background-color: #b1b1b1;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	text-align: center;
	-webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
}
@media (min-width:768px) {

	.tab + label {
		width:auto;
	}
}
.tab + label:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
	padding: 10px 25px;
	background-color: rgb(104, 104, 104);
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	-webkit-transform: translateY(-3px);
		  transform: translateY(-3px);
	border-radius: 6px;

}

@font-face {
  font-family: sopranos;
  src: url(Mobsters.ttf);
}

/* Boring Styles */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	body {
	font-family: 'Anton', sans-serif;
	background-color: #e7e7e7;
	color: #000;
	padding: 30px 0;
	min-width:350px;
}
h1
 {
	margin: 0;
	color: #FFF;
	text-align: center;
	font-family: 	sopranos;
	font-size: 72px !important;

}

h2 {
	text-align: center;
	margin-bottom: 15px;
	color: #FFF;
}
h4 {
	color: #FFF;
}
img
{
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	/*margin-left: 15px;*/
}
figure
{
	display: block;
	float: right;
	margin-left: auto;
	margin-right: auto;
	margin-left: 15px;
	margin-bottom: 10px;
}
figcaption
{
	margin-bottom: 10px;

}

h3 {
	font-size: 30px;
}

.p-about {
	font-size: 24px;
	line-height: 1.8;
	margin-bottom: 24px;
}
.container {
	max-width:1150px;
	margin:0 auto;
}

.subtitle {
	margin: 10px;
	font-weight: 900;
}
.tab_content {
	background-color: rgb(75, 75, 75);
}
body {
	background-color: #000;
}

p, a {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 24px;
	margin-bottom: 5px;
}


#customer-videos {
	margin: 20px;
	padding-top: 25px;
	display: block;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content	: space-around;
}
iframe {
	margin-bottom: 20px;
	width: 560px;
	height: 315px;
}


#contact-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content	: space-around;
}

#location-phone, #rest-hours {
	font-size:20px;
	text-align: center;
}

#google-map {
	width: 100%;
	height: 400px;
	frameborder:0;
	border:0;
	allowfullscreen:"";
	aria-hidden:"false";
  	tabindex:"0";
}

.menu-course {
	display: block;
	margin-top: 40px;
	text-align: center;
}